<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.touchvie.sdkfront">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.touchvie.sdk_front.ui.activities.Splash"
            android:label="@string/activity_splash_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.touchvie.sdk_front.ui.activities.TestCarousel"
            android:label="@string/activity_carousel_name"></activity>
        <activity
            android:name="com.touchvie.sdk_front.ui.activities.CardDetail"
            android:label="@string/activity_card_detail_name"></activity>
        <activity android:name="com.touchvie.sdk_front.ui.activities.CardDetailSelector"></activity>
    </application>

</manifest>